.banner{
    width: 100vw;
    background: var(--azul-claro);
    padding-top: 4.5em ;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: auto auto;
    grid-template-areas: 
    "apresentacao foto"
    "nome foto"
    "profissao foto"
    "texto foto"
    "botao foto";
    gap: 30px;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    

}
.banner_apresentacao-botao,
.banner_apresentacao-inicial,
.banner_apresentacao-texto,
.banner_apresentacao-Nome,
.banner_apresentacao-profissao {
    width: 400px;
    justify-self: start;
    /* padding-left: 80px;
    padding-right: 160px; */
}
.banner_apresentacao-inicial {
    grid-area: apresentacao;
    font-weight: 500;
    font-size: 24px;

}
.banner_apresentacao-Nome {
    font-size: 75px;
    font-weight: 700;
    grid-area: nome;
}
.banner_apresentacao-profissao {
    font-size: 24px;
    font-weight: 500;
    grid-area:profissao ;
}
.banner_apresentacao-profissao_funcao {
    color: var(--azul-escuro);
    font-size: 24px;
    font-weight: 500;
}
.banner_apresentacao-texto{
    font-size: 18px;
    color: var(--cinza) ;
    grid-area: texto;
    text-align: justify;
    
}
.banner_apresentacao-botao {
    grid-area: botao;
    padding-bottom: 20px;
    padding-top: 20px;

}

.banner_Perfil{
    grid-area: foto;
    position: relative;
    width: fit-content;
}
.foto_perfil {
    width: 400px;
}
.perfil_sticker{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "icone texto"
      "icone numero";
    
    justify-content: start;
    align-items: center;

    width: 230px;
    height: 60px;
    backdrop-filter: blur(10px)  ;
    background: rgba(255, 255, 255, .4);
    border: 1px solid var(--azul-comContraste);
    border-radius: 5px;
    position: absolute;
}
.perfil_sticker p, .perfil_sticker h1 {
    padding-left: 20px;
}
.perfil_sticker img {
    grid-area: icone;
    padding-left: 15px;

}
.perfil_sticker p{
    grid-area: texto;
    font-weight: 500;
    font-size: 15px;
   
}
.perfil_sticker h1 {
    grid-area: numero;
    font-weight: 700;
    font-size: 30px;
    color: var(--cinza);
}
.perfil_sticker-Projetos {

    top: 110px;
    left: -110px;

}
.perfil_sticker-Experiencia{
    bottom: 80px;
    left: -140px;

}
.perfil_sticker-Premios{
    top: 50px;
    right: -120px;
}
.perfil_sticker-Clientes{
    right: -135px;
    bottom: 135px;
}
@media screen and (max-width:1024px){
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .banner_apresentacao-inicial {
        font-size: 18px;
    }
    .banner_apresentacao-Nome {
        font-size: 56px;
    }
    .banner_apresentacao-profissao {
        font-size: 18px;
        
    }
    .banner_apresentacao-texto {
        font-size: 16px;
        text-align: justify;
        line-height: 20px;

    }
    .banner_apresentacao-botao {
        text-align: center;
        
    }
    .foto_perfil {
        width: 250px;
    }
    .perfil_sticker {
        width: 145px;
        height: 45px;
    }
    .perfil_sticker img {
        width: 30px;
        padding-left: 5px;
    }
    .perfil_sticker p, .perfil_sticker h1 {
        padding-left: 10px;
    }
    .perfil_sticker p {
        font-size: 10px;
    }
    .perfil_sticker h1 {
        font-size: 20px;
    }
    .perfil_sticker-Projetos {
        top: -12px;
        left: -75px;
    }
    .perfil_sticker-Experiencia {
        bottom: 22px;
        left: -73px;
    }
    .perfil_sticker-Premios {
        top: 24px;
        right: -62px;
    }
    .perfil_sticker-Clientes {
        right: -85px;
        bottom: 18px;
    }
}