
.cabecalho{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 4em;
    position:fixed;
    top: 0;
    backdrop-filter: blur(8px);
    z-index: 1;
    border-bottom: 1px solid var(--azul-comContraste);
    background: var(--azul-escuro-Opaco);

    
}
ul.listas {
    padding: 0px 25px ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}
a.link_lista{
    color: var(--cinza-Escuro);
}
.botao_vamosConectar{
    color: var(--branco);
    background: var(--azul-escuro);
    border-radius: 20px;
    padding: 10px;
}