
.projetos_sessao-titulo{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 80px;
    justify-content: center;
}
.projetos_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    
    gap: 30px;
    
}
.projetos_card {
    width: 80vw;
    background: var(--azul_cards);
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "img titulo"
    "img tecnologias"
    "img texto"
    "img icones";
    

}
.projetos_card_img{
    
    grid-area: img;
    padding-right: 50px;
    border-radius: 20px;

}
.projetos_card_img img {
    border-radius: 20px 0px 0px 20px;
}
.projetos_card_titulo {
    flex-wrap: wrap;

    display: flex;
    align-items: center;
    grid-area: titulo;
    color: var(--azul-escuro);
    font-size: 40px;
    font-weight: 600;

}
.projetos_card-tecnologias{
    flex-wrap: wrap;

    grid-area: tecnologias;
    display: flex;
    gap: 20px;
    color: var(--cinza_Opaco);
    font-size: 20px;
    font-weight: 500;

}
.projetos_card_texto{
    flex-wrap: wrap;

    grid-area: texto;
    color: var(--cinzaMedio);
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    width: 70%;
}
.projetos_card_imagens{
    align-self: center;
    grid-area: icones;
    display: flex;
    gap: 20px;
    height: 1em;
    
}
